*,
*::before,
**:after {
  box-sizing: border-box;
}

:root {
  --radius-outer: 0.25rem;
  --radius-inner: calc(var(--radius-outer) / 3);

  --clr-accent: hsl(268, 75%, 44%);
  --clr-accent-light: hsl(268, 75%, 90%);
  --clr-accent-dark: hsl(268, 75%, 25%);
  --clr-white: white;
}

html {
  background-color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  min-height: 100%;
  /* TODO: Add Media Query */
  scroll-behavior: smooth;
}

body {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  background-color: #e5e5e5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.page-heading {
  margin-bottom: 3rem;
}

.page-heading__title {
  margin-bottom: 0;
  color: #262626;
}

.page-heading__subtitle {
  margin: 0;
  color: #999999;
}
